.teste {
  justify-content: center;
}

#progress-num .step.active {
  border-color: gray;
  background-color: white;
  color: white;
}

#progress-num .step {
  border: 2px solid gray;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: gray;
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  z-index: 1;
}

#progress-num::before {
  content: "";
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: -1;
}

#progress-num {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#progress-bar {
  position: absolute;
  background: lightgray;
  height: 5px;
  width: 0%;
  top: 50%;
  left: 0;
}

#progress {
  position: relative;
  margin-bottom: 30px;
}

.titulo_sessao {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
}

.medium_sutil {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

::ng-deep .mat-horizontal-stepper-wrapper {
  background-color: #e8eff2 !important;
}

.btn_consultar {
  border-radius: 4px;
  border: #165c7d solid 1px;
  padding: 5px;
  width: 25vh;
  margin-left: 1%;
  background-color: #165c7d;
  border-color: #165c7d;
  color: white;
  box-shadow: none;
}

.input_cpf {
  border-radius: 2px;
  padding: 5px;
  width: 30vh;
  border: #c6ced1 solid 1px;
}

.errorCpf{
  border: red solid 1px !important;
}
