.titulo_sessao {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
}

.medium_sutil {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

::ng-deep .mat-horizontal-stepper-wrapper {
  background-color: #e8eff2 !important;
}

.btn_consultar {
  border-radius: 4px;
  border: #165c7d solid 1px;
  padding: 10px 0px 10px 0px;
  background-color: #165c7d;
  border-color: #165c7d;
  color: white;
  box-shadow: none;
}

.input_cpf {
  border-radius: 2px;
  padding: 10px 10px 10px 10px;
  border: #c6ced1 solid 1px;
  margin-right: 10px;
}

.errorCpf {
  border: red solid 1px !important;
}

@media only screen and (max-width: 768px) {
  .btn_consultar {
    margin-left: 0;
    margin-top: 5px;
  }
}

.label_cpf {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
}

.span_error {
  color: red;
  font-family: "Open Sans";
}
