<div class="col-sm-12 row_container">
  <div class="col-sm-8 col-md-4 card_dados">
    <p class="titulo_situacao">
      Situação cadastral do CPF <br />
      <span class="descricao_situacao">Consulta na Receita Federal</span>
    </p>

    <div class="card_row">
      <span class="material-symbols-outlined icon_card_perfil"> person </span>
      <p>
        <span class="title_content_card">Nome</span>
        <br />
        {{ nome }}
      </p>
    </div>

    <br />
    <div class="card_row">
      <span class="material-symbols-outlined icon_card_check"> task_alt </span>
      <p>
        <span class="title_content_card">Situação</span>
        <br />
        {{ situacao }}
      </p>
    </div>
  </div>
</div>
