<div class="sidebar">
  <ul>
    <li>
      <a href="#home"
        ><img
          class="icons__ailos"
          alt="Logotipo da empresa Ailos"
          src="../../../assets/icon-ailos.png"
      /></a>
    </li>
    <div class="centraliza">
      <li>
        <a href="#home"
          ><img
            class="icons__hamburguer"
            src="../../../assets/icon-hamburger-gray.png"
        /></a>
      </li>
    </div>
    <div class="centraliza">
      <li>
        <a href="#home"
          ><img class="icons__hamburguer" src="../../../assets/search-icon.png"
        /></a>
      </li>
    </div>
    <div class="centraliza">
      <li>
        <a href="#home"
          ><img class="icons__hamburguer" src="../../../assets/home-icon.png"
        /></a>
      </li>
    </div>
    <div class="centraliza">
      <li>
        <a href="#home"
          ><img class="icons__hamburguer" src="../../../assets/search-icon.png"
        /></a>
      </li>
    </div>
    <li><a href="#about">About</a></li>
  </ul>
</div>
