<div class="sidebar">
  <ul>
    <li>
      <a href="#home"
        ><img
          class="icons__ailos"
          alt="Logotipo da empresa Ailos"
          src="../../../assets/icon-ailos.png"
      /></a>
    </li>
    <div class="navigation_icons">
      <div class="centraliza">
        <li>
          <a href="#home"
            ><span class="material-symbols-outlined icons"> menu </span></a
          >
        </li>
      </div>
      <div class="centraliza">
        <li>
          <a href="#search"
            ><span class="material-symbols-outlined icons"> search </span></a
          >
        </li>
      </div>
      <div class="centraliza">
        <li>
          <a href="#home">
            <span style="color: white" class="material-symbols-outlined icons">
              grade
            </span></a
          >
        </li>
      </div>
      <div class="centraliza">
        <li>
          <a href="#home"
            ><span class="material-symbols-outlined icons"> chat </span></a
          >
        </li>
      </div>
      <div class="centraliza">
        <li>
          <a href="#home"
            ><span class="material-symbols-outlined icons"> tune </span></a
          >
        </li>
      </div>
      <div class="centraliza">
        <li>
          <a href="#home"
            ><span class="material-symbols-outlined icons">
              account_balance
            </span></a
          >
        </li>
      </div>
    </div>
  </ul>
</div>
